<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WifeApp2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>WifeApp2</h1>
        <div class="date">{{ current_date }}</div>
    </header>
    <nav>
        <a href="{{ url_for('daily_quote_and_image') }}">Daily Quote & Image</a>
        <a href="{{ url_for('tips') }}">Tips & Chat</a>
        <a href="{{ url_for('podcasts') }}">Podcast Reccomendations</a>
        <a href="{{ url_for('about') }}">About</a>
    </nav>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; {{ current_date }} WifeApp2. All rights reserved.</p>
    </footer>
</body>
</html> 