{% extends "base.html" %}

{% block content %}
<div class="podcast-container fade-in">
    <div class="update-frequency">Updated daily</div>
    <!-- Top Spotify Podcasts -->
    <div class="podcast-section">
        <h2>Top Spotify Podcasts</h2>
        <div class="podcast-list">
            {% for podcast in top_podcasts %}
                <div class="podcast-item">
                    <div class="podcast-thumbnail">
                        <img src="{{ podcast.image }}" alt="{{ podcast.title }}">
                    </div>
                    <div class="podcast-info">
                        <h3>{{ podcast.rank }}. {{ podcast.title }}</h3>
                        <a href="{{ podcast.link }}" target="_blank" class="podcast-link">Listen on Spotify</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Health & Fitness Podcasts -->
    <div class="podcast-section">
        <h2>Top Health & Fitness Podcasts</h2>
        <div class="podcast-list">
            {% for podcast in health_fitness %}
                <div class="podcast-item">
                    <div class="podcast-thumbnail">
                        <img src="{{ podcast.image }}" alt="{{ podcast.title }}">
                    </div>
                    <div class="podcast-info">
                        <h3>{{ podcast.rank }}. {{ podcast.title }}</h3>
                        <a href="{{ podcast.link }}" target="_blank" class="podcast-link">Listen on Spotify</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Top Episodes -->
    <div class="podcast-section">
        <h2>Top Spotify Podcast Episodes</h2>
        <div class="podcast-list">
            {% for podcast in top_episodes %}
                <div class="podcast-item">
                    <div class="podcast-thumbnail">
                        <img src="{{ podcast.image }}" alt="{{ podcast.title }}">
                    </div>
                    <div class="podcast-info">
                        <h3>{{ podcast.rank }}. {{ podcast.title }}</h3>
                        <p class="episode-title">{{ podcast.episode }}</p>
                        <a href="{{ podcast.link }}" target="_blank" class="podcast-link">Listen on Spotify</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}